# Port to listen on. Defaults to 8080 if not set:
# PORT=8080

# Python interpreter to use. Defaults to python3 if not set:
# PYTHON_BIN=../vision/venv/bin/python

# Directory for storing job files. Defaults to OS temp dir if not set.
# The directory must exist before starting the server or the process will not start:
# BUCKET_DIR=/tmp/jobs
